.main.news-read{
  & article{
    width: 80%;
    margin: 50px auto;
    & .title{
      font-size: 17px;
      display: flex;
      justify-content: space-between;
      & .edit{
        display: flex;
        & .fa-times{
          font-size: 21px;
        }
        & i{
          margin: 0 5px;
          &.anticon-edit{
            font-size: 19px;
          }
          &.anticon-delete{
            padding: 1px;
            font-size: 19px;
          }
        }
      }
    }
    & .text{
      line-height: 24px;
      text-align: justify;
    }
    & .info{
      margin: 2px 0;
      display: flex;
      & p{
        margin-left: 10px;
      }
    }
    & .date{
      margin-top: 10px;
      text-align: right;
      font-size: 10px;
      color: #6a6a6a;
      &:hover{
        color: #000;
      }
    }
  }
  & .buttons{
    width: 80%;
    margin: 50px auto;
    & button{
      margin: 20px 10px;
      &:first-child{
        margin-left: 0;
      }
    }
  }
}

