header{
  margin-top: 50px;
  display: flex !important;
  justify-content: space-between;
  font-size: 18px;
  & .user-block{
    & .user-avatar{
      display: flex;
      & p{
        margin-left: 10px;
      }
    }
  }
  & button{
    width: 100%;
  }
  @media screen and (max-width: 651px) {
    &{
      justify-content: space-around;
      margin-bottom: 20px;
    }
  }
}